{% extends 'base.html' %}
{% load static %}
{% block content%}
    <main>
        <!-- popular -->
        <section class="popular mt-[30px] pb-[30px]">
            <div class="container mx-auto px-6">
                <div class="mb-6">
                    <h2 class="text-2xl mr-9 text-[#1d2029] font-bold inline-block">
                        Популярные категории
                    </h2>
                    <a href="" class="hidden text-[#9b88fc] hover:text-[#1D2038] transition-colors md:inline-block">Весь
                        каталог</a>
                </div>
                <!-- карточки с категориями -->
                <div class="cards flex flex-wrap">
                    {% for i in categories %}
                    <div class="card__item w-full md:w-1/3 md:py-[30px] md:px-2.5 text-[#1d2029] hover:text-[#b0a1fc]">
                        <div class="flex flex-nowrap items-center max-h-[65px] p-0 md:block md:max-h-none">
                            <div class="img md:w-[120px] md:h-[120px] mx-auto mb-[22px]">
                                <a href="" class="block px-2.5 pt-2 pb-3 thumb md:p-0">
                                    <img class="w-[41px] h-[41px] max-w-full max-h-full md:w-full md:h-full"
                                        src="{{ i.image.url }}" alt="" />
                                </a>
                            </div>
                            <div class="name flex-grow-[2] text-left text-base md:flex-grow-0 md:text-center">
                                <a href=""
                                    class="relative pt-6 pr-6 pb-[23px] pl-[5px] text-[15px] block md:p-0 md:font-bold">{{ i.title }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- хит -->
        <section class="hit pb-[30px]">
            <div class="container mx-auto px-6 py-3">
                <h2 class="text-base">Хит</h2>
                <!-- карточки с платьями -->
                <div class="cards grid grid-cols-1 mt-9 sm:grid-cols-2 lg-md:grid-cols-4">
                    {% for i in products_hit %}
                    <div class="card__item p-5 border border-[#eee]">
                        <!-- img -->
                        <a href="{% url 'product_detail' i.pk %}" class="flex justify-center">
                            <img class="max-h-[390px] pb-5" src="{{ i.images.first.images.url }}" alt="qazxsw" />
                        </a>
                        <!-- title -->
                        <div class="text-[#1d2029] hover:text-[#b0a1fc]">
                            <a class="text-sm font-bold" href="">{{ i.title }}</a>
                        </div>
                        <!-- rate -->
                        <div class="flex justify-center mt-1.5 mb-2.5">
                            <table class="table-no-border">
                                <!-- добавь text-yellow-200 иконкам(svg) если есть рейтинг -->
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- price -->
                        <div class="mt-6 text-lg font-bold text-[#1d2029]">
                            {{ i.price }} сом
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- рекомендуемые товары -->
        <section class="recommended">
            <div class="container mx-auto px-6 py-3">
                <h2 class="text-[#1d2029] text-lg">Рекомендуемые товары</h2>
                <div class="cards grid grid-cols-1 mt-9 sm:grid-cols-2 lg-md:grid-cols-4">
                    {% for i in products_rec %}
                    <div class="card__item p-5 border border-[#eee]">
                        <!-- img -->
                        <a href="{% url 'product_detail' i.pk %}" class="flex justify-center">
                            <img class="max-h-[390px] pb-5" src="{{ i.images.first.images.url }}" alt="1" />
                        </a>
                        <!-- title -->
                        <div class="text-[#1d2029] hover:text-[#b0a1fc]">
                            <a class="text-sm font-bold" href="">{{ i.title }}</a>
                        </div>
                        <!-- rate -->
                        <div class="flex justify-center mt-1.5 mb-2.5">
                            <table class="table-no-border">
                                <!-- добавь text-yellow-200 иконкам(svg) если есть рейтинг -->
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="star-active star-empty" title="1">
                                                <svg class="hover:text-yellow-200 transition-colors" width="22"
                                                    height="22" viewBox="0 0 22 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M16.6647 19.25L15.1659 12.8068L20.1663 8.47371L13.5746 7.90812L10.9997 1.83337L8.42476 7.90812L1.83301 8.47371L6.83342 12.8068L5.33467 19.25L10.9997 15.8327L16.6647 19.25Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- price -->
                        <div class="mt-6 text-lg font-bold text-[#1d2029]">
                            {{ i.price }} сом
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}